<html>
    <head>
        <title>Meu projeto com jogos e trufas</title>
    </head>
    <body>
        <h1>Aplicações da Disciplina de DSWeb 2023.1</h1>
        <hr/>
        <ul>
            <li><a href="{% url 'enquete:index' %}">
                Enquetes</a></li>
            <li><a href="{% url 'financas:index' %}">
                Finanças Pessoais</a></li>
            <li><a href="{% url 'lablivre:index' %}">
                LabLivre</a></li>
            <li><a href="{% url 'academico:index' %}">
                Academico</a></li>
        </ul>
    </body>
</html>
