{% extends 'financas/base.html' %}
{% block conteudo %}
    <h3>{{ balancete.nome }}</h3>
    {% include 'financas/busca_lancamento.html' %}
    <a href="{% url 'financas:nova_receita' balancete.id %}">Adicionar receita</a><br/>
    <a href="{% url 'financas:nova_despesa' balancete.id %}">Adiconar despesa</a><br/>    
    {% if balancete.lancamento_set.all %}
        <table>
            <tr>
                <thead>
                    <th>Lancamento</th>
                    <th>Receita</th>
                    <th>Despesa</th>
                    <th></th>
                    <th></th>
                </thead>
            </tr>
            <tbody>
            {% for lancamento in lancamentos %}
                <tr>
                <td>{{ lancamento.descricao }}</td>    
                {% if lancamento.despesa %}  
                    <td></td>
                    <td>-{{lancamento.valor|floatformat:2}}</td> 
                {% else %}
                    <td>{{lancamento.valor|floatformat:2}}</td>
                    <td></td>
                {% endif %}
                <td><a href="{% url 'financas:detalhe_lancamento' balancete.id lancamento.id %}">Detalhar</a></td>
                <td><a href="{% url 'financas:excluir_lancamento' balancete.id lancamento.id %}">Excluir</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfooter>
                <tr>
                    <th>Totais</th>
                    <th>{{ balancete.total_receitas|floatformat:2 }}</th>
                    <th>{{ balancete.total_despesas|floatformat:2 }}</th>
                </tr>
            </tfooter>
        </table>
        <h4>Saldo total: {{ balancete.saldo_total|floatformat:2 }}</h4>
    {% else %}
        <p>Nenhum lançamento encontrado!</p>
    {% endif %}
    <a href="{% url 'financas:index' %}">Voltar para balancetes</a><br/>
{% endblock %}