{% extends 'financas/base.html' %}
{% block conteudo %}
    Balancete: {{lancamento.balancete}}<br/>
    Descrição: {{lancamento.descricao}}<br/>
    Valor: R$ {{lancamento.valor|floatformat:2}}<br/>
    Tipo:
    {% if lancamento.despesa %}
     Despesa 
    {% else %}
     Receita
    {% endif %}
    <br/>
    Foto: <br/>
    {% if lancamento.foto %}
        <img src="/financas{{media_url}}{{lancamento.foto}}" alt="{{lancamento.descricao}}" style="max-height:300px">
    {% endif %}
    <br/>
    <a href="{% url 'financas:detalhe_balancete' lancamento.balancete.id %}">Voltar para balancete</a><br/>
{% endblock %}