{% extends 'financas/base.html' %}
{% block conteudo %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h3>Login</h3>
        <div><label>Usuário</label></div>
        <div>{{ form.username }}</div>
        <div><label>Senha</label></div>
        <div>{{ form.password }}</div>
        <br/>
        <input type="hidden" name="next" value="{{next}}"/>
        <input type="submit" value="Login"/>  <a href="{% url 'financas:novo_usuario' %}"><input type="button" value="Novo Usuario"/></a>
    </form>
{% endblock %}
